<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="loading">
      <ion-icon name="radio"></ion-icon>
      Loading
    </ion-tab-button>
    <ion-tab-button tab="skeleton">
      <ion-icon name="library"></ion-icon>
      Skeleton
    </ion-tab-button>
    <ion-tab-button tab="routing">
      <ion-icon name="search"></ion-icon>
      Routing
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>